#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
CalendarPicker/[Bb]in
CalendarPicker/[Dd]ebug*/
CalendarPicker.Tests/[Bb]in
CalendarPicker.Tests/[Dd]ebug*/
*.lib
*.sbr
CalendarPicker/obj/
CalendarPicker/[Rr]elease*/
CalendarPicker.Tests/obj/
CalendarPicker.Tests/[Rr]elease*/
_ReSharper*/
CalendarPicker.Tests/[Tt]est[Rr]esult*
VisualStudio.postbuild
.gitk-tmp.*/
*.iloprj
*.xaddin
*.ReSharper
